SHST.Console/Web References/WS_PERFINSERT/PerfValueInsert.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sqlmvp.kr" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sqlmvp.kr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sqlmvp.kr">
      <s:element name="PValueInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="btValues" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="iServerNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strTimeIn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTimeIn_UTC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PValueInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PValueInsertResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PValueInsertSoapIn">
    <wsdl:part name="parameters" element="tns:PValueInsert" />
  </wsdl:message>
  <wsdl:message name="PValueInsertSoapOut">
    <wsdl:part name="parameters" element="tns:PValueInsertResponse" />
  </wsdl:message>
  <wsdl:portType name="PerfValueInsertSoap">
    <wsdl:operation name="PValueInsert">
      <wsdl:input message="tns:PValueInsertSoapIn" />
      <wsdl:output message="tns:PValueInsertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PerfValueInsertSoap" type="tns:PerfValueInsertSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PValueInsert">
      <soap:operation soapAction="http://sqlmvp.kr/PValueInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PerfValueInsertSoap12" type="tns:PerfValueInsertSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PValueInsert">
      <soap12:operation soapAction="http://sqlmvp.kr/PValueInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PerfValueInsert">
    <wsdl:port name="PerfValueInsertSoap" binding="tns:PerfValueInsertSoap">
      <soap:address location="http://localhost:3584/PerfValueInsert.asmx" />
    </wsdl:port>
    <wsdl:port name="PerfValueInsertSoap12" binding="tns:PerfValueInsertSoap12">
      <soap12:address location="http://localhost:3584/PerfValueInsert.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>