SHST.Console/Web References/WS_ALERTS/AlertsAdd.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sqlmvp.kr" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sqlmvp.kr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sqlmvp.kr">
      <s:element name="AddAlerts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bytearr" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="iServerNumber" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strTimeIn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strTimeIn_UTC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAlertsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAlertsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddAlertsSoapIn">
    <wsdl:part name="parameters" element="tns:AddAlerts" />
  </wsdl:message>
  <wsdl:message name="AddAlertsSoapOut">
    <wsdl:part name="parameters" element="tns:AddAlertsResponse" />
  </wsdl:message>
  <wsdl:portType name="AlertsAddSoap">
    <wsdl:operation name="AddAlerts">
      <wsdl:input message="tns:AddAlertsSoapIn" />
      <wsdl:output message="tns:AddAlertsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlertsAddSoap" type="tns:AlertsAddSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAlerts">
      <soap:operation soapAction="http://sqlmvp.kr/AddAlerts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlertsAddSoap12" type="tns:AlertsAddSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAlerts">
      <soap12:operation soapAction="http://sqlmvp.kr/AddAlerts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlertsAdd">
    <wsdl:port name="AlertsAddSoap" binding="tns:AlertsAddSoap">
      <soap:address location="http://localhost:3584/AlertsAdd.asmx" />
    </wsdl:port>
    <wsdl:port name="AlertsAddSoap12" binding="tns:AlertsAddSoap12">
      <soap12:address location="http://localhost:3584/AlertsAdd.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>